export default {
  title: 'VGod Not VDog',
  titleTemplate: 'VGod Not VDog | Make ETH bigger stronger!',
  description: 'Make ETH bigger stronger!',
  openGraph: {
    type: 'website',
    locale: 'en_US',
    url: 'https://www.vgod-not-vdog.com/',
    siteName: 'vgod-not-vdog',
    images: [
      {
        url: 'https://x.com/vgod_not_vdog/header_photo',
        width: 800,
        height: 600,
        alt: 'vgod Image Alt',
        type: 'image/jpeg',
      },
      {
        url: 'https://pbs.twimg.com/media/GdHJRTragAELhsG?format=jpg&name=medium',
        width: 800,
        height: 600,
        alt: 'vgod Image Alt',
        type: 'image/jpeg',
      }
    ]
  },
  twitter: {
    cardType: 'summary',
    title:'vgod-not-vdog',
    site: '@vgod_not_vdog',
    cardType: 'summary_large_image',
    description: 'Bigger! Stronger! Create the strongest consensus, create the Strongest meme.'
  },
};